$bg-brown: #5c524d;
$orange: #fc732f;
$font-grey: #212121;
$bg-grey: #fafafa;
$border-grey: #d5d5d5;
$font-white: #ffffff;
$green: #86eaae;
$partial-white: rgba(255, 255, 255, 0.75);
$font-grey-secondary: #757575;
